/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

/* Application-wide Styles */

*{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    
}

#logo{
    width: 100px;
    height: 100px;
}

h6{
    padding-top: 35px;
    box-sizing: border-box;
}
